body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img.profile {
  height: 150px;
}

h1 {
  margin-block: 10px;
}

button {
  width: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
}

span {
  color: gray;
}

.socials img {
  height: 25px;
  cursor: pointer;
}
